@import '~antd/dist/antd.css';

.homeFormGroup {
  width:100%;
  margin:10% 0 0 0;
  padding-bottom:1%;
}
.homeFormGroup input {
  margin:5% 0.5% 5% 0;
  height: 40px;
  font-size: 120%;
  width: 70%;
}
.chat {
  margin:2% 0;
  height:60vh;
  overflow-y: scroll;
}
.userList {
  margin-left:10%;
}