@import '~antd/dist/antd.css';

.homeFormGroup {
  width:10%;
  margin:1% 0 0 0;
  border-bottom:1px solid #ddd;
  padding-bottom:1%;
}
.homeFormGroup input {
  margin:5% 0;
}
.chat {
  margin:2% 0;
}